body {
    min-height: 100vh;
}

nav {
    background-color: #615f8b;
    min-height: 10vh;
}

main {
    min-height: 80vh;
}

footer {
    background-color: #615f8b;
    min-height: 10vh;
}

.carousel-inner img {
    max-height: 70vh;
}

p {
    margin-bottom: 0!important;
}

a {
    text-decoration: none;
}

.navbar-brand {
    font-size: 1rem;
}